.cart-icon-svg {
    height: 30px;
}

.item-count {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.cart-icon {
    position: relative;
    cursor: pointer;
    text-align: center;
}