a {
    text-decoration: none;
}

.app-container {
    padding: 20px 60px
}

.Toastify__toast-container.Toastify__toast-container--top-right.toast-container {
    top: 6em;
}

.error {
    margin: 15px 0;
    color: red;
    font-size: 15px;
    font-weight: 500;
}