.sign-in {
    width: 30vw;
    display: flex;
    flex-direction: column;
    min-width: 35em;

    .title {
        margin: 10px 0;
    }

    .singIn-button--container {
        display:  flex;
        justify-content: space-around;
    }
}